.Product {
  .quill .ql-container {
    height: 150px;
  }

  .imagesCard,
  .pricingCard {
    margin-top: 24px;
  }

  .pricingCard {
    margin-bottom: 80px;
  }

  .stickyMenu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 200px;
    z-index: 10;
    border-right: 0;
    border-left: 0;

    .ant-card-body {
      float: right;

      .ant-btn-primary {
        margin-left: 10px;
      }
    }
  }
}
