.Products {
  .ant-table-row {
    td:hover {
      cursor: pointer;
    }
  }

  .header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .operations {
    white-space: nowrap;
    button {
      padding: 0;
    }
  }
}
